body {
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.main {
      flex: 1;
      min-height: 0;
}

.bg-dark {
      background-color: #12002b;
}

.sign-in-button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: 2px solid #00bc77;
      background-color: #00bc77;
      color: #fff;
}
.sign-in-button:hover {
      text-decoration: underline;
      cursor: pointer;
}
.sign-in-content {
      box-sizing: border-box;
      background-color: white;
      width: 300px;
      margin: 0 auto;
      margin-top: 3rem;
      padding: 2rem;
      margin-bottom: 1rem;
}

.sign-in-icon {
      font-size: 1rem;
}
.input-remember {
      display: flex;
}

.input-remember label {
      margin-left: 0.25rem;
}

.input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
}

.input-wrapper label {
      font-weight: bold;
}

.input-wrapper input {
      padding: 5px;
      font-size: 1.2rem;
}
.create-user {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 0.8rem;
      color: #00bc77;
      text-decoration: underline;
      cursor: pointer;
      padding: 0px;
}
.error-message {
      color: red;
      font-size: 10px;
      text-align: left;
}
