.profile-update-form {
      background-color: #12002b;
      min-height: 100vh;
}

.profile-update-form h2 {
      text-align: center;
}

.profile-update-form label {
      display: block;
      margin: 10px 0;
}

.profile-update-form input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid #ddd;
}

.profile-update-form button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

.profile-update-form button:hover {
      background-color: #45a049;
}

.success-message {
      color: green;
      text-align: center;
}

.error-message {
      color: red;
      text-align: center;
}
.input-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
}

.input-wrapper label {
      font-weight: bold;
}

.input-wrapper input {
      padding: 5px;
      font-size: 1.2rem;
}

.update-button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: 2px solid #00bc77;
      background-color: #00bc77;
      color: #fff;
}
